/* Default Font-size */
$font-base-size: 17px;

$h1-font-size: 45px;
$h2-font-size: 31px;
$h3-font-size: 31px;
$h4-font-size: 21px;
$h5-font-size: 15px;
$h6-font-size: 13px;

$h1-tablet-font-size: 35px;
$h2-tablet-font-size: 31px;
$h3-tablet-font-size: 31px;
$h4-tablet-font-size: 17px;


$h1-mobile-font-size: 31px;
$h2-mobile-font-size: 17px;
$h3-mobile-font-size: 17px;



$desktop-small-size: 1170px;
$tablet-horizontal-size: 1024px;
$tablet-size:992px;
$mobile-big-size: 767px;
$mobile-vertical-size: 575px;
$mobile-small-size: 320px;
